.Modal{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 30%;
    bottom: 150px;
    border: 2px solid rgb(137, 137, 233);
    background-color: #fff ;
    overflow: auto;
    outline: none;
    padding: 50px;
    border: radius 4px; ;
}